body {
  margin: 0 auto;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

#navbar ul {
  display: flex;
  width: 1000px;
  margin: 0 auto;
}

#navbar ul li {
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-left: 1px #000 solid;
}

#navbar ul li:last-child {
  border-right: 1px #000 solid;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

.page-header {
  max-width: 1024px;
  margin: 0 auto;
}

.page-header .page-header__box {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header .page-header__box h1 {
  font-size: 30px;
}

.page-header .page-header__box h1 .big {
  font-size: 40px;
}

.page-header .page-header__box h1 .blue {
  color: #0066cc;
}

.page-header .page-header__box h1 br {
  display: none;
}

.page-header .page-header__box .page-header__form {
  padding-left: 15px;
}

.page-header .page-header__box .page-header__form dl dt {
  margin-bottom: 5px;
}

.page-header p {
  text-align: center;
  margin: 30px;
  font-size: 16px;
}

.clean {
  max-width: 1024px;
  margin: 0 auto;
}

.clean h2 {
  color: #fff;
  background-color: #D9E5FF;
  padding: 15px;
  font-size: 30px;
  text-align: left;
  padding-left: 30px;
  display: block;
}

.clean h2::after {
  content: "";
  display: block;
  border-bottom: 2px dotted #fff;
  padding-bottom: 5px;
}

.clean .clean-wrapper {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.clean .clean-wrapper .clean-wrapper__top h3 {
  position: absolute;
  top: -10%;
  left: 35%;
  font-size: 30px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  color: red;
}

.clean .clean-wrapper .clean-wrapper__top dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15%;
  line-height: 1.75;
}

.clean .clean-wrapper .clean-wrapper__top dl:nth-of-type(3) dt {
  margin-top: -84px;
}

.clean .clean-wrapper .clean-wrapper__top dl dt {
  margin-right: 30px;
  width: 20%;
}

.clean .clean-wrapper .clean-wrapper__top dl dd {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.clean .clean-wrapper .clean-wrapper__top p {
  text-align: center;
  margin: 30px 0;
}

.clean .clean-wrapper .clean-wrapper__top p a {
  display: inline-block;
  padding: 20px 40px;
  border-radius: 10px;
  color: black;
  background-color: #ffcc99;
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.clean .clean-wrapper .clean-wrapper__top p a:hover {
  opacity: 1;
}

.clean .clean-wrraper__texts .clean-wrraper__text {
  word-break: break-all;
  text-align: center;
}

.clean .clean-wrraper__texts .clean-wrraper__text p {
  line-height: 1.5;
  font-size: 0.9rem;
}

.clean .clean-wrraper__texts dl {
  text-align: center;
  margin-bottom: 15px;
}

.clean .clean-wrraper__texts dl dt {
  font-size: 30px;
  color: #99ccff;
  margin: 15px;
}

.clean .clean-wrraper__texts dl dd {
  line-height: 1.5;
  word-break: break-all;
}

.clean .clean-wrraper__texts .clean-wrraper__form p {
  line-height: 1.5;
  font-size: 20px;
  word-break: break-all;
}

.clean .clean-wrraper__texts .clean-wrraper__form p:nth-child(-n+2) {
  text-align: center;
  color: #00ccff;
}

.clean .clean-wrraper__texts .clean-wrraper__form p:last-child {
  text-align: right;
}

.relief {
  max-width: 1024px;
  margin: 60px auto;
}

.relief h2 {
  font-size: 30px;
  text-align: center;
  padding: 15px;
  color: #0066cc;
  position: relative;
}

.relief dl {
  text-align: center;
}

.relief dl:not(:last-child) {
  margin-bottom: 15px;
}

.relief dl dt {
  color: #0066cc;
  font-size: 20px;
  margin-bottom: 10px;
}

.relief dl dd {
  line-height: 1.5;
  padding: 15px;
}

.relief .relief-baforeafter {
  margin-top: 60px;
}

.relief .relief-baforeafter ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.relief .relief-baforeafter ul li {
  position: relative;
  text-align: center;
}

.relief .relief-baforeafter ul li span {
  position: absolute;
  left: 83%;
  top: 15%;
  z-index: 1;
}

.relief .relief-baforeafter ul li span .fa-arrow-right {
  font-size: 3.5rem;
  color: navy;
}

.relief .relief-baforeafter ul li figure:first-child {
  margin-right: 30px;
}

.relief .relief-baforeafter ul li p {
  position: absolute;
  top: 10%;
  left: 13%;
  z-index: 1;
  padding: 20px 40px;
  border-radius: 10px;
  color: #fff;
  background-color: steelblue;
}

.relief .relief-baforeafter p {
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}

.flow {
  max-width: 1024px;
  margin: 60px auto;
}

.flow h2 {
  font-size: 30px;
  text-align: center;
  padding: 15px;
  color: #0066cc;
}

.flow .flow-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flow .flow-box ul li {
  padding: 15px;
}

.flow .flow-box ul li figure {
  text-align: center;
}

.flow .flow-box ul li figure img {
  width: 250px;
  height: 300px;
}

.flow .flow-box ul li p {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 15px;
}

.flow .flow-box ul li br {
  display: none;
}

.flow .order-confirmation section {
  text-align: center;
  display: block;
}

.flow .order-confirmation section h3 {
  margin: 30px 0;
  font-size: 25px;
  text-align: center;
  color: #0066cc;
}

.flow .order-confirmation section p {
  display: inline-block;
  text-align: left;
  line-height: 1.5;
  margin-left: 10%;
}

.flow .order-confirmation .order-confirmation__form {
  text-align: center;
}

.flow .order-confirmation .order-confirmation__form p {
  line-height: 1.75;
}

.flow .order-confirmation .order-confirmation__form p:last-child {
  margin-left: 30%;
}

.flow .order-confirmation .order-confirmation__form p:nth-child(2) {
  color: #00ccff;
  font-size: 18px;
}

.flow .order-confirmation .order-confirmation__form p a {
  display: inline-block;
  padding: 20px 40px;
  border-radius: 10px;
  color: black;
  background-color: #ffcc99;
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  margin: 15px 0;
}

.flow .order-confirmation .order-confirmation__form p a:hover {
  opacity: 1;
}

.question {
  max-width: 1024px;
  margin: 60px auto;
}

.question h2 {
  font-size: 30px;
  text-align: center;
  padding: 15px;
  color: #0066cc;
}

.question .question-wrapper {
  text-align: center;
  margin: 0 auto;
}

.question .question-wrapper p {
  font-size: 20px;
  padding-bottom: 15px;
}

.question .question-wrapper .question-wrapper__list {
  margin: 0 auto;
  width: 80vw;
}

.question .question-wrapper .question-wrapper__list .question-wrapper__title {
  background-color: whitesmoke;
  padding: 30px;
  border-bottom: 1px solid;
}

.question .question-wrapper .question-wrapper__list .question-wrapper__answer {
  display: none;
  padding: 30px;
}

.request-flow {
  max-width: 1024px;
  margin: 60px auto;
}

.request-flow h2 {
  font-size: 30px;
  text-align: center;
  padding: 15px;
  color: #0066cc;
}

.request-flow .request-flow__list dl {
  text-align: center;
}

.request-flow .request-flow__list dl dt {
  font-size: 25px;
}

.request-flow .request-flow__list dl dd {
  display: inline-block;
  text-align: left;
  padding: 30px;
  font-size: 0.9rem;
  margin-left: 15%;
  line-height: 1.75;
}

.request-flow .request-flow__list dl dd p {
  font-weight: bold;
  color: red;
}

.request-flow .request-flow__form {
  text-align: center;
}

.request-flow .request-flow__form p {
  line-height: 1.75;
}

.request-flow .request-flow__form p:last-child {
  margin-left: 30%;
}

.request-flow .request-flow__form p:nth-child(2) {
  color: #00ccff;
  font-size: 18px;
}

.request-flow .request-flow__form p a {
  display: inline-block;
  padding: 20px 40px;
  border-radius: 10px;
  color: black;
  background-color: #ffcc99;
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  margin: 15px 0;
}

.request-flow .request-flow__form p a:hover {
  opacity: 1;
}

.custermer-boice {
  max-width: 1024px;
  margin: 60px auto;
}

.custermer-boice h2 {
  font-size: 30px;
  text-align: center;
  padding: 15px;
  color: #0066cc;
}

.custermer-boice .custermer-boice__wrapper .custermer-boice__list {
  width: 80vw;
  margin: 0 auto;
}

.custermer-boice .custermer-boice__wrapper .custermer-boice__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.custermer-boice .custermer-boice__wrapper .custermer-boice__list li:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.custermer-boice .custermer-boice__wrapper .custermer-boice__list li:nth-child(even) section {
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  background: #e0edff;
}

.custermer-boice .custermer-boice__wrapper .custermer-boice__list li:nth-child(even) section::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #e0edff;
}

.custermer-boice .custermer-boice__wrapper .custermer-boice__list li:nth-child(odd) section {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  background: #e0edff;
}

.custermer-boice .custermer-boice__wrapper .custermer-boice__list li:nth-child(odd) section::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.custermer-boice .custermer-boice__wrapper .custermer-boice__list li figure .custermer-boice__image {
  width: 100%;
}

.custermer-boice .custermer-boice__wrapper .custermer-boice__list li figure .custermer-boice__image img {
  width: 200px;
  height: 200px;
}

.custermer-boice .custermer-boice__wrapper .custermer-boice__list li figure p {
  text-align: center;
  padding-top: 5px;
}

.custermer-boice .custermer-boice__wrapper .custermer-boice__list li section p {
  line-height: 1.5;
  font-size: 0.8rem;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .page-header .page-header__box h1 {
    font-size: 26px;
    line-height: 1.1;
  }
  .page-header .page-header__box h1 br {
    display: block;
  }
  .page-header .page-header__box h1 .big {
    font-size: 35px;
  }
  .clean h2 {
    font-size: 23px;
  }
  .clean .clean-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 60px;
  }
  .clean .clean-wrapper figure {
    margin-bottom: 30px;
  }
  .clean .clean-wrapper .clean-wrapper__top h3 {
    font-size: 25px;
    top: -3%;
    left: 35%;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  .relief h2 {
    font-size: 23px;
  }
  .flow h2 {
    font-size: 23px;
  }
  .flow .flow-box ul li {
    padding: 10px;
  }
  .flow .flow-box ul li figure img {
    width: 125px;
    height: 185px;
  }
  .flow .flow-box ul li p {
    font-size: 0.7rem;
    word-break: break-all;
  }
  .flow .flow-box ul li br {
    display: block;
  }
  .flow .order-confirmation section h3 {
    font-size: 23px;
  }
  .question h2 {
    font-size: 23px;
  }
  .request-flow h2 {
    font-size: 23px;
  }
  .custermer-boice h2 {
    font-size: 23px;
  }
  .custermer-boice .custermer-boice__wrapper .custermer-boice__list li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .custermer-boice .custermer-boice__wrapper .custermer-boice__list li:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .custermer-boice .custermer-boice__wrapper .custermer-boice__list li:nth-child(even) section {
    margin: 1.5em 0 1.5em 0;
  }
  .custermer-boice .custermer-boice__wrapper .custermer-boice__list li:nth-child(even) section::before {
    content: "";
    top: -15px;
    left: 47%;
    border: 15px solid transparent;
    border-bottom: 15px solid #e0edff;
  }
  .custermer-boice .custermer-boice__wrapper .custermer-boice__list li:nth-child(odd) section {
    margin: 1.5em 0 1.5em 0;
  }
  .custermer-boice .custermer-boice__wrapper .custermer-boice__list li:nth-child(odd) section::before {
    content: "";
    top: -15px;
    left: 47%;
    border: 15px solid transparent;
    border-bottom: 15px solid #e0edff;
  }
  .custermer-boice .custermer-boice__wrapper .custermer-boice__list li section p {
    padding: 15px;
  }
}

@media screen and (max-width: 425px) {
  .page-header .page-header__box {
    padding: 5px;
  }
  .page-header .page-header__box h1 {
    font-size: 20px;
  }
  .page-header .page-header__box h1 .big {
    font-size: 25px;
  }
  .page-header .page-header__box .page-header__form {
    padding-left: 5px;
  }
  .page-header .page-header__box .page-header__form dl dt {
    font-size: 1.0rem;
  }
  .page-header .page-header__box .page-header__form dl dd {
    font-size: 0.8rem;
    word-break: break-all;
  }
  .page-header p {
    margin: 0;
    margin-bottom: 15px;
  }
  .clean h2 {
    font-size: 20px;
  }
  .clean .clean-wrapper figure {
    margin-bottom: 30px;
  }
  .clean .clean-wrapper .clean-wrapper__top h3 {
    font-size: 20px;
    top: -3%;
    left: 35%;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  .clean .clean-wrapper .clean-wrapper__top dl dt {
    font-size: 0.9rem;
  }
  .clean .clean-wrapper .clean-wrapper__top dl dd {
    font-size: 0.8rem;
  }
  .clean .clean-wrraper__texts dl {
    text-align: center;
    margin-bottom: 15px;
  }
  .clean .clean-wrraper__texts dl dt {
    font-size: 20px;
  }
  .clean .clean-wrraper__texts dl dd {
    font-size: 0.8rem;
  }
  .clean .clean-wrraper__texts .clean-wrraper__form p {
    font-size: 15px;
  }
  .relief h2 {
    font-size: 20px;
  }
  .relief dl dt {
    font-size: 15px;
  }
  .relief dl dd {
    font-size: 0.8rem;
  }
  .relief .relief-baforeafter {
    margin: 0 auto;
  }
  .relief .relief-baforeafter ul {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .relief .relief-baforeafter ul li {
    position: relative;
    text-align: center;
  }
  .relief .relief-baforeafter ul li span {
    position: absolute;
    left: 45%;
    top: 90%;
    z-index: 1;
  }
  .relief .relief-baforeafter ul li span .fa-arrow-right {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .relief .relief-baforeafter ul li figure:first-child {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .relief .relief-baforeafter ul li figure img {
    width: 250px;
    height: 300px;
  }
  .relief .relief-baforeafter ul li p {
    top: 15%;
    left: 37%;
  }
  .relief .relief-baforeafter p {
    margin: -15px;
  }
  .flow h2 {
    font-size: 20px;
  }
  .flow .flow-box ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flow .flow-box ul li figure img {
    width: 250px;
    height: 300px;
  }
  .flow .order-confirmation section h3 {
    font-size: 18px;
  }
  .flow .order-confirmation section p {
    font-size: 0.8rem;
  }
  .question h2 {
    font-size: 20px;
  }
  .question .question-wrapper p {
    font-size: 17px;
  }
  .question .question-wrapper .question-wrapper__list {
    width: 100vw;
  }
  .question .question-wrapper .question-wrapper__list .question-wrapper__title {
    font-size: 0.9rem;
  }
  .request-flow h2 {
    font-size: 20px;
  }
  .request-flow .request-flow__list dl dt {
    font-size: 1rem;
  }
  .custermer-boice h2 {
    font-size: 20px;
  }
  .custermer-boice .custermer-boice__wrapper .custermer-boice__list li:nth-child(even) section {
    margin: 1.5em 0 1.5em 0;
  }
  .custermer-boice .custermer-boice__wrapper .custermer-boice__list li:nth-child(even) section::before {
    content: "";
    left: 45%;
  }
  .custermer-boice .custermer-boice__wrapper .custermer-boice__list li:nth-child(odd) section {
    margin: 1.5em 0 1.5em 0;
  }
  .custermer-boice .custermer-boice__wrapper .custermer-boice__list li:nth-child(odd) section::before {
    content: "";
    left: 45%;
  }
}
/*# sourceMappingURL=style.css.map */