//header
$header-title__span:rgb(0, 102, 204);

//clean
$clean-title:#fff;
$clean-trial:red;
$clean-title__back:#D9E5FF;
$clean-form:black;
$clean-form__back:rgb(255,204,153);
$clean-express:rgb(153,204,255);
$clean-form__telephone:rgb(0,204,255);

//relief
$relief-title:rgb(0, 102, 204);
$relief-baforeafter__color:#fff;
$relief-baforeafter__back:rgb(70, 130, 180);
$relief-arrow__color:rgb(0,0,128);

//order-confirmation
$order-confirmation__title:rgb(0, 102, 204);
$order-confirmation__telephone:rgb(0,204,255);

//request-flow
$request-flow__bold:red;
$request-flow__title:rgb(0, 102, 204);

//custermer-boice
$custermer-boice__title:rgb(0, 102, 204);